__pycache__/
checkpoints/
DiffusionImages/
embeddings/
data/
samples/
wandb/
few-shot/
evaluation/
results/
logs/
clip_features/
*.pkl
*.pth
*.done
*.out
wangetal_*
auxiliary_test.py
auxiliary_train.py
extract_features*
classifier_*
